<div class="goals-widget card">
  <div class="card-header">
    <h3 class="card-title">This Year's Goals</h3>
  </div>
  <div class="card-body" id="annual-goals-widget"></div>

  <div class="card-header">
    <h3 class="card-title">This Month's Goals</h3>
  </div>
  <div class="card-body" id="monthly-goals-widget"></div>

  <div class="card-header">
    <h3 class="card-title">This Week's Goals</h3>
  </div>
  <div class="card-body" id="weekly-goals-widget"></div>
</div>
